// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$heading-font-family: "Kaisei Opti", serif;
$body-font-family: "Noto Sans JP", sans-serif;
$font-size-root: 18px;
@import "~vuetify/src/styles/styles.sass";
